[submodule "patron"]
	path = patron
	url = https://github.com/prosyslab/patron
[submodule "sparrow"]
	path = sparrow
	url = https://github.com/prosyslab/sparrow
[submodule "smake"]
	path = smake
	url = https://github.com/prosyslab/smake