out/*
**__pycache__**
**/log.txt
locale
package/analysis_target_*
*.tar.gz
package/smake_out/*.txt
package/smake_out/go/*
package/smake_out/gnustep/*
package/smake_out/graphics/*
package/smake_out/fonts/*
package/smake_out/experiment_setup/*
package/smake_out/*
package/targets/*
*/sparrow-out/*
package/analysis_*
**sparrow-out**
**sparrow_log**
**DB**
**patron-out**
**juliet-test-suite**
**template**
**tmp**
